.chat-main__header
  .chat-main__header--group
    .chat-main__header--group-name
      = @group.name
    .chat-main__header--group-edit-btn
      = link_to 'Edit', edit_group_path(@group)
  .chat-main__header--members.clearfix
    %h4
      Member:
      - @group.users.each do |user|
        %span
          = user.name
